

main {
    width: 250px;
    padding: 1.25rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

footer {
    font-size: .75rem;
    color: var(--color-text-snd);
}

.cb-form small {
    display: none;
    margin-top: -.45rem;
    font-size: .85rem;
    text-align: center;
}

.cb-form.error small{
    color: cornflowerblue; 
    display: block;
}
